# Ignore Terraform files that should not be version controlled
infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.*
infra/.terraform.lock.hcl
infra/.terraform.tfstate.lock.info
infra/terraform.tfstate

# Ignore Azure Function Code files that should not be version controlled
AzureFunctionCode/bin
AzureFunctionCode/obj
AzureFunctionCode/csx
AzureFunctionCode/.vs
AzureFunctionCode/edge
AzureFunctionCode/Publish
AzureFunctionCode/*.user
AzureFunctionCode/*.suo
AzureFunctionCode/*.cscfg
AzureFunctionCode/*.Cache
AzureFunctionCode/project.lock.json
AzureFunctionCode/packages
AzureFunctionCode/TestResults
AzureFunctionCode/tools/NuGet.exe
AzureFunctionCode/App_Data
AzureFunctionCode/secrets
AzureFunctionCode/data
AzureFunctionCode/.secrets
AzureFunctionCode/appsettings.json
AzureFunctionCode/local.settings.json
AzureFunctionCode/node_modules
AzureFunctionCode/dist
AzureFunctionCode/.python_packages/
AzureFunctionCode/.env
AzureFunctionCode/.venv
AzureFunctionCode/env/
AzureFunctionCode/venv/
AzureFunctionCode/ENV/
AzureFunctionCode/env.bak/
AzureFunctionCode/venv.bak/
AzureFunctionCode/__pycache__/
AzureFunctionCode/*.py[cod]
AzureFunctionCode/*$py.class
AzureFunctionCode/__blobstorage__
AzureFunctionCode/__queuestorage__
AzureFunctionCode/__azurite_db*__.json